<div id="<%= dom_id transaction %>">
  <p>
    <strong>Quantity:</strong>
    <%= transaction.quantity %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= transaction.price %>
  </p>

  <p>
    <strong>Transaction date:</strong>
    <%= transaction.transaction_date %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= transaction.payment_method %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= transaction.product_id %>
  </p>

</div>
