<div id="<%= dom_id vending_machine %>">
  <p>
    <strong>Machine code:</strong>
    <%= vending_machine.machine_code %>
  </p>

  <p>
    <strong>Machine name:</strong>
    <%= vending_machine.machine_name %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= vending_machine.capacity %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= vending_machine.payment_method %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= vending_machine.location %>
  </p>

</div>
